<div>
  <%= link_to recipe_path(recipe), {} { image_tag recipe.primary_photo.image.thumb.url } if recipe.primary_photo %>
  <div class='text'>
    <div class='title'><%= link_to recipe.title, recipe_path(recipe) %></div>
    <div class='synopsis'><%= link_to recipe.synopsis, recipe_path(recipe) %></div>
  </div>
</div>
