<div id='parallax'>
  <div id='homePanel' class='parallaxPanel' data-content='' data-background='home_panel1.jpeg'>
    <%= render :partial => 'home_panel' %>
  </div>
  <div id='recipesPanel' class='parallaxPanel parallaxPanelLight' data-content='recipes' data-background='dill_wallpaper.jpg'>
    <%= render :partial => 'recipes_panel' %>
  </div>
  <div id='contactPanel' class='parallaxPanel' data-content='contact'>
    <%= render :partial => 'contact_panel' %>
  </div>
  <%= render :partial => 'down_arrow', :locals => { :panel => 'recipesPanel' } %>
</div>

