<div class="recipeSearch">
  <%= form_tag search_recipes_path, :method => 'get' do %>
  <%= text_field_tag 'search', nil, :placeholder => 'Search by ingredient or recipe' %>
  <button id='search_button' type="submit" class="btn">
    <i class="icon-search icon-large"></i>
  </button>
  <%= link_to 'View all', recipes_path %>
  <% end %>
</div>
