<div class='parallaxDownButton'>
  <a href='#<%= panel %>'>
    <div class='left'>
      <span class='label'>show me more</span>
    </div>
    <div class='right'>
      <span class='icon'>
        <i class="icon-angle-down icon-large"></i>
      </span>
    </div>
  </a>
</div>

