<section id="main" class="container aboutContainer">
  <h2>About Zanzaneet</h2>
  <div class='contentMain'>
    <p>
      Zanzaneet is a Web site built by Rieethaa and Steve where we share our
      passion for good food.
    </p>
    <p>
      You will find recipes, tips and tricks for creating the kind of food
      that we love to cook and eat. We love home-cooked food and we are
      especially passionate about traditional Indian dishes.
    </p>
    <p>
      We hope the site is fairly self-explanatory and you can find your way
      around easily, just use the links in the menu bar at the top of the
      screen to explore. Recipes can be searched for by title or ingredient,
      you should find a quick search box in the menu bar and the
      <%= link_to 'recipe list page', recipes_path %> allows you to filter by type.
    </p>
    <p>
      The site is hand-built using our favourite tools including Ruby on Rails
      and hosted on Heroku. We welcome feedback about the site, checkout the
      <%= link_to 'contact page', "#{root_path}#contact" %> to find out how
      to get in touch. Neither of us are trained as
      Web designers so please be gentle with us about our graphics skills or
      choice of colour schemes!
    </p>
  </div>
  <div class='clear'/>
</section>
