<section id="main" class="container aboutContainer">
  <h2>About Zanzaneet</h2>
  <div class='contentMain'>
    <p>
      <i>Zanzaneet</i> is about home cooking using fresh produce and simple
      ingredients. The recipes are designed so that you don’t compromise on
      the taste and enjoy the distinctive flavours of the ingredients.
    </p>

    <p>
      If you are wondering what <i>Zanzaneet</i> means, it is an adjective used to
      describe spicy, vibrant and flavourful food in parts of Western India.
      Much of our inspiration is drawn from traditional Indian home cooking,
      far removed from your local curry house.
    </p>

    <p>
      We would love to introduce you to some of the authentic recipes we grew
      up with as well as some that we have discovered on our travels to other
      parts of the culinary world.
    </p>

    <p>
      Our repertoire ranges from popular Indian street food to tasty vegetarian
      dishes from different regions of India but it doesn’t end there! So
      if Indian food is not to your palate there is something to suit
      everyone's cravings here.
    </p>

    <p>
      You will find recipes and tips for creating the kind of food that we love
      to cook and eat. We like to be healthy and green, but we are not
      fanatical tree huggers. So although we don't eat meat every day you will
      find a few fishy and fleshy treats for special occasions.  We have even
      been known to pig out on a home-baked cake or two, a little bit of what
      you fancy every so often does no serious harm to the waistline.
    </p>

    <p>
      We hope the site is fairly self-explanatory and you can find your way
      around easily, just use the links in the menu bar at the top of the
      screen to explore. Recipes can be searched for by title or ingredient,
      you should find a quick search box in the menu bar and the
      <%= link_to 'recipe list page', recipes_path %> allows you to filter by type.
    </p>

    <p>
      <i>Zanzaneet</i> is a website built by Rieethaa and Steve.  The site is
      hand-crafted (because we are tech-snobs) using our favourite tools
      including Ruby on Rails and hosted on Heroku. We welcome feedback about
      the site, checkout the <%= link_to 'contact page', "#{root_path}#contact"
      %> to find out how to get in touch. Neither of us are trained as Web
      designers so please be gentle with us about our graphics skills or choice
      of colour schemes!
    </p>
  </div>
  <div class='clear'/>
</section>
