@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

$white: rgb(255,255,255);
$white80: rgba(255,255,255,0.8);

$lightgrey: rgb(244,244,244);
$midlightgrey: rgb(228,228,228);
$grey: rgb(128,128,128);
$darkgrey: rgb(64,64,64);
$extradarkgrey: rgb(32,32,32);
$greytransparent: rgba(64,64,64,0.5);

$buttonbackground: #006DCC;
$extralightgrey : rgb(229, 229, 229);
$orange: rgb(255, 165, 0);
$cream: rgb(249, 244, 230);

// Contact Us colour palette
$okayishBackground: rgb(103, 82, 65);
$contactTurquoise: rgb(57, 169, 164);

// Experimental
$darkblue: rgb(0, 51, 153) 9;
$nicecolour: rgb(0, 68, 204);
$lightblue: rgb(100,133,255);
$blue: rgb(60,100,200);
$lightBeige: rgb(255, 255, 238);
$exp1: rgb(237, 237, 225);
$expForBorder: rgb(80, 6, 6);
$mandatory: rgb(156,141,108);
$dullTeal: rgb(113, 157, 152);

// champagne
$champagne0: rgb(255, 240, 229);
$champagne1: rgb(242, 215, 191);
$champagne2: rgb(230, 185, 145);
$champagne3: rgb(205, 164, 129);
$champagne4: rgb(166, 133, 105);
$champagne5: rgb(103, 82, 65);
$champagne6: rgb(70, 56, 45);
$champagne7: rgb(43, 35, 28);

$champagne4_50: rgba(166, 133, 105, 0.5);
$champagne5_20: rgba(103, 82, 65, 0.2);
$champagne5_50: rgba(103, 82, 65, 0.5);
$champagne5_80: rgba(103, 82, 65, 0.8);
$champagne4_80: rgba(166, 133, 105, 0.8);

// salmon
$salmon3: rgb(213, 101, 64);
$salmon4: rgb(168, 78, 51);
$salmon5: rgb(152, 70, 47);
$salmon6: rgb(135, 64, 42);
$salmon7: rgb(105, 46, 29);
$salmon8: rgb(72, 34, 22);

$salmon5_30: rgba(152, 70, 47, 0.3);
$salmon5_50: rgba(152, 70, 47, 0.5);
$salmon5_80: rgba(152, 70, 47, 0.8);
$salmon7_30: rgba(105, 46, 29, 0.3);
$salmon7_50: rgba(105, 46, 29, 0.5);
$salmon7_80: rgba(105, 46, 29, 0.8);

// sheepu
$sheepu4_80: rgba(60, 88, 10, 0.8);
$sheepu5_80: rgba(45, 67, 10, 0.8);
$sheepu6_80: rgba(32, 48, 8, 0.8);
$sheepu7_80: rgba(20, 30, 1, 0.8);

$sheepu6_50: rgba(32, 48, 8, 0.5);

$maroon: rgb(89, 15, 15);
$lightMaroon: rgb(162, 66, 66);
$contactUsTitle1: rgb(252, 231, 146);
$contactUsTitle2: rgb(213, 195, 153);

$watermark: rgb(112, 111, 111);
$base_font: lighter 13pt 'Gill Sans', 'Helvetica Neue', sans-serif;
$heading_font: SamarkanNormal;
$input_font: normal 14pt 'Droid Serif', Georgia, 'Times New Roman', serif;
$default_letter_spacing: 1px;
$banner_height: 40px;

/** { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/

/** {*/
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
/*}*/

@mixin boxSizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin allTransition500 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@mixin hoverBackgroundTransition {
  -moz-transition: color .2s, background-color .2s;
  -webkit-transition: color .2s, background-color .2s;
  -ms-transition: color .2s, background-color .2s;
  -o-transition: color .2s, background-color .2s;
  transition: color .2s, background-color .2s;
}

@mixin hoverColorTransition {
  -moz-transition: color .2s, color .2s;
  -webkit-transition: color .2s, color .2s;
  -ms-transition: color .2s, color .2s;
  -o-transition: color .2s, color .2s;
  transition: color .2s, color .2s;
}

h1 {
  color: #f00;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

.nativeTitle {
  font-style: italic;
}

.clear {
  clear: both;
}

#container, .container {
	width: 1200px;
	margin: 0 auto;
  min-height: 100%;
}

#main {
  padding: 60px 10px;
}

.mainSection {
  height: auto !important;
  min-height: 100%;
}

//TODO : Common style for the content of the page
.content {
  // word-spacing: -1px;
  // Give line-height and font-size here;
  min-height: 100%;
}

.contentMain {
  float: left;
  width: 850px;
}

.contentSidePanel {
  @include boxSizing;
  float: left;
  width: 280px;
  margin: 0 0 0 40px;
}

html {
  height: 100%;
  min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
  height: auto;
  min-height: 100%;
	margin: 0;
	padding: 0;
  font: $base_font;
  letter-spacing: $default_letter_spacing;
  position: relative;
}

#innerBody {
  min-height: 100%;
  height: 100%;
}

iframe {
  display: none;
}

#header {
  height: 130px;
  background-color: $white;
}

#banner {
  padding: 5px;
  background: $champagne5_50;
  height: $banner_height;
  z-index: 5;
  width: 100%;
  position: absolute;
  top: 130px;
  @include hoverBackgroundTransition;

  .searchMenuItem {
    .hidden {
      opacity: 0;
    }
    form, a {
      display: inline-block;
    }
    input {
      margin: 0px 0;
      font-size: 90%;
      padding: 5px;
      width: 280px;
    }
  }
}

#banner.fixed {
  top: 0px;
  position: fixed;
  bottom: 0px;
  background: $champagne5;
}

#header .siteTitle {
  font: 300% SamarkanNormal, "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  color: $salmon3;
  margin: -28px 0;
}


#footer {
  height: 60px;
  bottom: 0px;
  z-index: 5;
  width: 100%;
  background: $champagne5;
  color: $white;
  position: absolute;

  ul {
    float: right;
    font-size: 90%;

  }

  .footerTitle {
    font: 150% SamarkanNormal, "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    color: $white;
    float: left;
    margin: -10px 0;
  }
}

#menu {
  margin: 0 auto;
	display: block;
	height: 35px;
  font: 100%;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align:	center;
}

#menu li {
	float: left;
  padding: 0 15px;
}

#menu li:first-child {
	float: left;
  padding: 0 15px 0 0;
}

#menu li.right {
	float: right;
}

#menu li > a {
	display: block;
	/*width: 100px;*/
	text-decoration: none;
  color: $champagne0;
	font: 110% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	padding: 10px 0 0;
	height: 25px;
}

#menu li > a:hover {
	color: $white;
}

#menu li > a.selected {
  /*text-decoration: underline;*/
  border-bottom: 1px solid $white;
  color: $white;
}

section {
	display: block;
}

label {
	display: block;
	margin: 10px 0 4px;
  font-weight: normal;
}

label.inline {
	display: inline;
}

label > span {
  color: $mandatory;
  margin-left: 5px;
  font-size: 70%;
  font-style: italic;
}

input:not([type=submit]), textarea {
  font: $input_font;
  color: $darkgrey;
  border: 1px solid #CCC;
  letter-spacing: $default_letter_spacing
}

textarea {
	height: 100px;
	width: 800px;
  padding: 15px;
}

textarea.medium {
  min-height: 200px;
}

textarea.large {
  min-height: 300px;
}

textarea.extraLarge {
  min-height: 500px;
}

input[type='text'], input[type='email'], input[type='tel'], input[type='password'] {
  padding: 15px;
  width: 500px;
  letter-spacing: $default_letter_spacing;
}

textarea:focus, input:focus {
  outline: none;
}

.formActions {
	padding: 17px 20px 18px 0px;
	margin-top: 18px;
	margin-bottom: 18px;
}

.formButton {
  box-sizing: Border-box;
  padding: 6px 12px;
  margin: 0;
  line-height: 24px;
  min-height: 24px;
  text-align: center;
  color: $white;
  font-size: 120% !important;
  text-decoration: none;
  cursor: pointer;
}

.recipeContainer #search_button, .formButton {
  background-color: $champagne4;
}

.recipeContainer #search_button:hover, .formButton:hover {
  background-color: $champagne5;
  @include hoverBackgroundTransition;
}

.homeContent, .newsContent {
  float: left;
  width: 500px;
  background-color: $champagne5_80;
  padding: 40px;
  font-size: 140%;
  margin: 200px 0 0 50px;
}

.homeContent h1, .newsContent h1 {
  color: $white;
}

.newsContent {
  margin: 80px 0 0 50px;
  width: 500px;
  font-size: 120%;
  padding: 20px;
  color: $white;

  input[type='text'], input[type='email'], input[type='tel'] {
    width: 450px;
  }

  .buttons {
    padding: 20px 0 0;
  }

  .formButton {
    background-color: $champagne6;
  }

  .formButton:hover {
    background-color: $champagne7;
  }

  .flash {
    color: $contactUsTitle2;
  }
}

.firstNewsContent {
  margin: 80px 50px 0 0;
}

#carousel {
	/*Need to have relative position here as all the other carousel items inside this container will be relative to this?*/
	position: relative;
  /*The children of this container are all absolutely positioned and therefore cannot determine its height */
  /*so we need to explicitly size the height of the carousel */
  height: 800px;
  overflow: hidden;
}

#carouselItems {
  position: relative;
  width: 1040px;
  height: 800px;
  left: 80px;
  overflow: hidden;
}

.carouselItem {
	display: none;
  position: absolute;
  height: 700px;
  width: 1040px;
  margin: 25px 0 0 0;
}

#recipesPanel {
  .carouselItem {
    background: rgba(255, 255, 255, 0.8);
  }
}

.carouselItem .content {
  min-height: 670px;
  width: 1000px;
}

@mixin carouselText {
  position: relative;
  left: 0px;
  /*color: $white;*/
  padding: 5px;
}

.carouselItem .recipeTitle {
  @include carouselText;
  font-size: 200%;
  margin-left: 70px;
}

.carouselItem .images {
  float: left;
  margin-left: 70px;
  margin-right: 40px;
  position: relative;
}

.carouselItem .recipeSecondaryImage img, .carouselItem .recipeImage img {
  /*box-shadow: 0 0 2px 2px #333;*/
}

.carouselItem .recipeSecondaryImage {
  top: 250px;
  left: 480px;
  position: absolute;
}

.carouselItem .recipeSynopsis {
  padding: 10px;
  font-size: 150%;
}

.carouselItem .recipeMoreLink, .recipesMoreLink {
  display: inline-block;
  padding: 4px 6px;
  font-size: 130%;
  text-decoration: none;
  color: $champagne5;
	background-color: transparent;
  position: relative;
  float: right;
  @include hoverBackgroundTransition;
}

.recipesMoreLink {
  float: left;
}

// .carouselTitle {
//   @include carouselText;
//   top: 10px;
//   font-size: 160%;
// }

// .carouselSubtitle {
//   @include carouselText;
//   font-size: 100%;
//   top: 10px;
// }

.carouselButton {
  top: 40%;
  position: absolute;
  width: 55px;
  height: 55px;
  font-size: 150%;
  color: $white;
  background-color: $sheepu6_50;
  color: $white;
  line-height: 63px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  z-index: 4;
  @include hoverColorTransition;

  span {
    font-size: 150%;
  }
}

.recipeMoreLink:hover, .recipesMoreLink:hover, .carouselButton:hover {
  // background-color: $orange;
  color: $white;
  background-color: $sheepu6_80;
}

.left {
	left: 10px;
}

.right {
	right: 10px;
}

.recipeSearch {
  padding: 20px 0 60px 0;
  margin: 0 auto;
  width: 600px;

  button {
    min-width: 40px;
    padding: 15px 5px;
    cursor: pointer;
    background-color: $sheepu6_50;
    color: $white;
    @include hoverColorTransition;
  }

  button:hover {
    color: $white;
    background-color: $sheepu6_80;
  }

  a {
    color: $white;
    text-decoration: none;
    padding: 15px 0 0;
    font-size: 120%;
  }
}

#parallax .recipeSearch {
  padding: 20px 0;
}

.watermark {
  color: $watermark;
}

ul.recipeList {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align:	center;
}

.recipeList li {
  @include boxSizing;
  position: relative;
  width: 275px;
  height: 320px;
  margin: 0 20px 36px 0;
  padding: 3px;
  border: 1px solid $extralightgrey;
  float: left;
	background-color: rgba(255, 255, 255, 0.75);
  overflow: hidden;

  a {
    text-decoration: none;
    color: $maroon;
  }

  img {
    width: 265px;
    height: 265px;
  }

  .title {
    margin: 8px 0 0;
    font-size: 110%;
    color: $maroon;
    text-align: center;

    a {
      width: 100%;
      text-align: center;
    }
  }

  .synopsis {
    @include allTransition500;
    margin: 8px 5px;
    font-size: 90%;
    color: #888;
    text-align:	left;
    opacity: 0;
    max-height: 0px;

    a {
      color: #888;
    }
  }

  .text {
    @include boxSizing;
    background-color: $white80;
    position: absolute;
    bottom: 0px;
    min-width: 270px;
    min-height: 45px;
  }
}

.recipeList li:hover {
  .synopsis {
    height: auto;
    max-height: 300px;
    opacity: 1;
  }
}

.recipeList li.end_of_line {
  margin: 0 0 36px 0;
}

.recipeContainer {
  @include boxSizing;
  background: white;
  padding: 10px 20px;

  h3 {
    padding: 8px 10px;
    margin: 10px 0;
    background-color: gray;
    color: white;
  }
}

#recipeImageContainer {
  position: relative;
}

#recipeImageCopy {
  position: absolute;
  top: 0px;
  left: 0px;
}

.dotNav {
  width: 850px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  // position: relative;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 10px auto;
    display: inline-block;

    li {
      // position: relative;
      margin: 0;
      float: left;
      padding: 3px 2px 2px 2px;

      a {
        width: 18px;
        height: 18px;
        border-radius: 9px;
        display: inline-block;
      }
    }
  }
}

.emptyDot {
  background-color: $grey;
}

.filledDot {
  background-color: $darkgrey;
}

.pagination {
  text-align: right;
  float: right;
}

.markdownInplaceEditor textarea {
  display: none;
}

/* Parallax */

.parallax {
}

.parallaxDownButton {
  @include boxSizing;
  position: absolute;
  bottom: 0px;
  right: 200px;
  background-color: $champagne5_80;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0 5px;

  a:visited {
    text-decoration: none;
  }

  .left {
    float: left;
    height: 50px;

    .label {
      line-height: 50px;
      padding: 0 5px;
      display: none;
      text-align: middle;
      font-size: 120%;
      color: $white;
    }
  }

  .right {
    float: right;
    height: 50px;

    a {
      text-decoration: none;
      color: $white;
    }

    .icon {
      padding: 0;
      font-size: 220%;
      color: $white;
    }
  }
}

.parallaxDownButton:hover {
  background-color: $champagne6;
}

.parallaxDownButton:hover .label {
  display: inline-block;
}

.parallaxPanel {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: $white;
  min-height: 800px;
}

.parallaxPanel .container{
  padding: 50px 0 0;
}

.parallaxPanelLight {
  background-color: $white;
  color: #444;
}

.parallaxTitle {
	width: 1200px;
	margin: 8px auto;
  @include carouselText;
  font-size: 200%;
  font-weight: normal;
}

.parallaxSubtitle {
	width: 1200px;
	margin: 4px auto;
  @include carouselText;
  font-size: 150%;
  font-weight: normal;
}

span.parallaxTitleText {
  background: $salmon7_50;
  padding: 6px 10px;
  color: $white;
}


#recipesPanel {
  span.parallaxTitleText {
    background: $sheepu6_50;
  }
}

#contactPanel {
  margin: -5px 0 0 0;
  span.parallaxTitleText {
    background: none;
  }
}


.parallaxAnchor {
  top: -100px;
  height: 1px;
  position: relative;
}

#contactPanel {
  background-color: $salmon4;
}

#social {
  border-left: 1px solid $salmon6;
  padding-left: 20px;
  float: right;
  width: 560px;
  margin-top: 70px;
  color: $white;
  height: 400px;
}

#social > a {
  height: 145px;
  padding: 10px 0 0 0;
  margin: 40px 0 10px 0;
  @include hoverBackgroundTransition;
  display: block;
  text-decoration: none;
}

#social > div.separator {
  height: 26px;
  border-bottom: 1px dashed $salmon6;
}

#social > a img {
  float: left;
  margin-top: 41px;
}

#social > a h2 {
  display: inline-block;
  width: 370px;
  margin: 0 0 0 5px;
  text-decoration: none;
}

#social > a ul {
  position: relative;
  color: $white;
  background-color: $salmon6;
  list-style: none;
  margin-left: 105px;
  width: 360px;
  padding: 10px;
}

#social li {
  text-decoration: none;
}

/* override the Browser default styles for <a> embedded in Tweets within the contact panel */
#social > a > ul > a {
  text-decoration: none;
  color: $white;
}

#social #twitter > ul:before {
  position: absolute;
  top: 10px;
  left: -20px;
  border-color: transparent $salmon6 $salmon6 transparent;
  border-style: solid;
  border-width: 10px;
  width: 0px;
  height: 0px;
  content: " ";
}

#social #email:hover, #social #twitter:hover {
  background-color: $salmon5;
}

#social #email:hover .title, #social #twitter:hover .title {
  color: $contactUsTitle1;
}

#social #email img {
  float: left;
  margin-top: 21px;
}

#social #email ul {
  padding: 16px 10px;
  font-size: 110%;
}

#contactPanel .title {
  color: $contactUsTitle2;
  font-size: 130%;
  font-weight: lighter;
  @include hoverColorTransition;
}

#newsletterSignUp {
  color: $contactUsTitle2;
  margin-top: 70px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  height: 400px;
  width: 560px;
}

#newsletterSignUp article {
  padding: 10px 0 0 0;
}

#newsletterSignUp label {
  font-weight: lighter;
  font-size: 110%;
}

#newsletterSignUp article:first-child {
  padding: 40px 0 0 0;
}

#newsletterSignUp form div.field {
  padding: 10px 0 0 0;
}

#subscriptionFormContainer {
  color: $white;
  font-size: 100%;
}

input[type='submit'], button[type='submit'], input[type='button'] {
  font: $base_font;
  border: none;
  border-radius: none !important;
  letter-spacing: $default_letter_spacing;
}

.subscribeButton {
  font-size: 110%;
  margin: 0 20px 0 0;
  padding: 10px;
  background-color: $salmon6;
  color: $white;
  @include hoverBackgroundTransition;
}

.subscribeButton:hover {
  background-color: $salmon7;
}

.subscribeButton:active {
  background-color: $salmon8;
}

.ui-autocomplete {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 500px;
  max-height: 200px;
  border: 1px solid #CCC;
  background-color: $white;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.ui-autocomplete li {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.ui-autocomplete a {
  cursor: pointer;
  display: block;
  padding: 2px 5px;
}

.ui-autocomplete a.hover,
.ui-autocomplete a.ui-state-hover {
  background-color: $orange;
}

menu {
  padding: 0px;
}

.sidePanelMenu {
  position: relative;
  background-color: $lightgrey;
  padding: 0 0 10px;
}

.sidePanelMenu a {
  display: block;
  margin: 3px 0;
  padding: 5px 9px;
  text-decoration: none;
  color: #000;
}

.sidePanelMenu a[href]:hover {
  background-color: $champagne4;
  color: white;
}

.sidePanelMenu .icon {
  margin: 0 5px 0 0;
}

.sidePanelMenu .label {
  position: absolute;
  left: 40px;
}

.sidePanelMenu h3 {
  padding: 8px 10px;
  margin: 10px 0;
  background-color: $grey;
  color: $white;
}

#recipeAtAGlance {
  padding: 0 0 20px;
}

#recipeSimilar.sidePanelMenu a[href]:hover {
  background-color: $midlightgrey;
  color: #000;
}

.flash {
  display: none;
}

.blogPost {
  padding: 0 0 10px;
  border-bottom: #ddd 1px solid;
}

.blogContent {}
.blogDate {
  margin: 10px 0 0 0;
  color: $grey;
  font-size: 80%;
}
.blogComments {
  margin: 30px 0 0;
}

#blogListContainer {
  .clear {
    margin: 20px 0 0;
  }
}

.helpText {
  font-size: 80%;
}

.rating {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align:	center;
}

.rating li {
  color: gold;
	float: left;
  padding: 0 5px;
}

.rating li {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

.rating li:before {
  content: "\f006";
}

.rating li:hover:before {
  content: "\f005";
}

body[data-section='recipes'] {
  background-image: url('/images/fabric.jpg');
  background-position: 0% 0%;
  background-repeat: repeat;
}

section.mainSection {

  .recipeListContainer {
    background: none;
  }
}
