@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);

$white: rgb(255,255,255);
$white_80: rgba(255,255,255,0.8);
$white_50: rgba(255,255,255,0.5);

$lightgrey: rgb(244,244,244);
$midlightgrey: rgb(228,228,228);
$grey: rgb(128,128,128);
$darkgrey: rgb(64,64,64);
$extradarkgrey: rgb(32,32,32);
$greytransparent: rgba(64,64,64,0.5);

$buttonbackground: #006DCC;
$extralightgrey : rgb(229, 229, 229);
$orange: rgb(255, 165, 0);
$cream: rgb(249, 244, 230);

// Contact Us colour palette
$okayishBackground: rgb(103, 82, 65);
$contactTurquoise: rgb(57, 169, 164);

// Experimental
$darkblue: rgb(0, 51, 153) 9;
$nicecolour: rgb(0, 68, 204);
$lightblue: rgb(100,133,255);
$blue: rgb(60,100,200);
$lightBeige: rgb(255, 255, 238);
$exp1: rgb(237, 237, 225);
$expForBorder: rgb(80, 6, 6);
$mandatory: rgb(156,141,108);
$dullTeal: rgb(113, 157, 152);

// champagne
$champagne0: rgb(255, 240, 229);
$champagne1: rgb(242, 215, 191);
$champagne2: rgb(230, 185, 145);
$champagne3: rgb(205, 164, 129);
$champagne4: rgb(166, 133, 105);
$champagne5: rgb(103, 82, 65);
$champagne6: rgb(70, 56, 45);
$champagne7: rgb(43, 35, 28);

$champagne4_50: rgba(166, 133, 105, 0.5);
$champagne5_20: rgba(103, 82, 65, 0.2);
$champagne5_50: rgba(103, 82, 65, 0.5);
$champagne5_80: rgba(103, 82, 65, 0.8);
$champagne4_80: rgba(166, 133, 105, 0.8);

// salmon
$salmon3: rgb(213, 101, 64);
$salmon4: rgb(168, 78, 51);
$salmon5: rgb(152, 70, 47);
$salmon6: rgb(135, 64, 42);
$salmon7: rgb(105, 46, 29);
$salmon8: rgb(72, 34, 22);

$salmon5_30: rgba(152, 70, 47, 0.3);
$salmon5_50: rgba(152, 70, 47, 0.5);
$salmon5_80: rgba(152, 70, 47, 0.8);
$salmon7_30: rgba(105, 46, 29, 0.3);
$salmon7_50: rgba(105, 46, 29, 0.5);
$salmon7_80: rgba(105, 46, 29, 0.8);

// sheepu
$sheepu2: rgba(96, 139, 24, 1);
$sheepu3: rgba(74, 108, 16, 1);
$sheepu4: rgba(60, 88, 10, 1);
$sheepu5: rgba(45, 67, 10, 1);
$sheepu6: rgba(32, 48, 8, 1);
$sheepu7: rgba(20, 30, 1, 1);

$sheepu4_80: rgba(60, 88, 10, 0.8);
$sheepu5_80: rgba(45, 67, 10, 0.8);
$sheepu6_80: rgba(32, 48, 8, 0.8);
$sheepu7_80: rgba(20, 30, 1, 0.8);

$sheepu6_50: rgba(32, 48, 8, 0.5);

$maroon: rgb(89, 15, 15);
$lightMaroon: rgb(162, 66, 66);

$shrikhand1: rgb(252, 231, 146);
$shrikhand2: rgb(213, 195, 153);
$shrikhand3: rgb(192, 176, 113);

$link_colour: $sheepu3;

$font70: 70%;
$font80: 80%;
$font90: 90%;
$font100: 100%;
$font110: 110%;
$font120: 120%;
$font130: 130%;
$font140: 140%;
$font150: 150%;
$font170: 170%;
$font200: 200%;
$font220: 220%;

$watermark: rgb(112, 111, 111);
$default_letter_spacing: 1px;

/* responsive variables */

$break_xs: 550px;
$break_s: 900px;
$break_m: 1050px;
$break_l: 1200px;
$break_xl: 1500px;

$base_font: lighter 13pt 'Open Sans', 'Gill Sans', 'Helvetica Neue', sans-serif;
$input_font: normal 14pt 'Droid Serif', Georgia, 'Times New Roman', serif;

$xl: "only screen and (max-width: #{$break_xl})";
$l: "only screen and (max-width: #{$break_l})";
$m: "only screen and (max-width: #{$break_m})";
$s: "only screen and (max-device-width: 800px), only screen and (max-width: #{$break_s})";
$xs: "only screen and (max-device-width: 480px), only screen and (max-width: #{$break_xs})";

.parallaxSubtitle, .parallaxTitle, #container, .container {
	width: 1200px;
  @media #{$l} { width: 1050px; }
  @media #{$m} { width: 900px; }
  @media #{$s} { width: 750px; }
  @media #{$xs}{ width: 600px; }
}

body, input[type='submit'], button[type='submit'], input[type='button'] {
  font: $base_font;

  @media screen and (max-width: $break_xl) { font-size: 13pt; }
  @media #{$l} { font-size: 12pt; }
  @media #{$m} { font-size: 11pt; }
  @media #{$s} { font-size: 12pt; }
  @media #{$xs} { font-size: 11pt; }
}

input:not([type=submit]), textarea {
  font: $input_font;

  @media screen and (max-width: $break_xl) { font-size: 14pt; }
  @media #{$l} { font-size: 13pt; }
  @media #{$m} { font-size: 12pt; }
  @media #{$s} { font-size: 12pt; }
  @media #{$xs} { font-size: 16pt; }
}

$banner_height_xl: 50px;
$banner_height_l: 45px;
$banner_height_m: 42px;
$banner_height_s: 45px;
$banner_height_xs: 45px;

$header_height_xl: 150px;
$header_height_l:  120px;
$header_height_m:  105px;
$header_height_s:  90px;
$header_height_xs: 75px;

/** { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/

/** {*/
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
/*}*/

@mixin boxSizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin allTransition300 {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@mixin allTransition500 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@mixin allTransition1000 {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

@mixin opacityTransition1000 {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

@mixin backgroundImageTransition1000 {
  -webkit-transition: background-image 1s;
  -moz-transition: background-image 1s;
  -ms-transition: background-image 1s;
  -o-transition: background-image 1s;
  transition: background-image 1s;
}

@mixin hoverBackgroundTransition {
  -moz-transition: color .2s, background-color .2s;
  -webkit-transition: color .2s, background-color .2s;
  -ms-transition: color .2s, background-color .2s;
  -o-transition: color .2s, background-color .2s;
  transition: color .2s, background-color .2s;
}

@mixin hoverColorTransition {
  -moz-transition: color .2s, color .2s;
  -webkit-transition: color .2s, color .2s;
  -ms-transition: color .2s, color .2s;
  -o-transition: color .2s, color .2s;
  transition: color .2s, color .2s;
}

/*@media only screen and (max-width: 1200px) {*/
  /*font-size: */
/*}*/

h1 {
  color: #f00;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

.nativeTitle {
  font-style: italic;
}

.clear {
  clear: both;
}

#container, .container {
	margin: 0 auto;
  min-height: 100%;
}

#main {
  padding: 60px 10px;
}

.mainSection {
  height: auto !important;
  min-height: 100%;
}

//TODO : Common style for the content of the page
.content {
  // word-spacing: -1px;
  // Give line-height and font-size here;
  min-height: 100%;
}

.contentMain {
  float: left;
  width: 70.8%;
}

html {
  height: 100%;
  min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
  height: auto;
  min-height: 100%;
	margin: 0;
	padding: 0;
  letter-spacing: $default_letter_spacing;
  position: relative;
}

#innerBody {
  min-height: 100%;
  height: 100%;
}

iframe {
  display: none;
}

#banner {
  @include boxSizing;
  padding: 5px;
  background: $champagne5_50;
  height: $banner_height_xl;
  top: $header_height_xl;
  overflow: hidden;
  @media #{$l} { height: $banner_height_l;  top: $header_height_l;  }
  @media #{$m} { height: $banner_height_m;  top: $header_height_m;  }
  @media #{$s} { height: $banner_height_s;  top: $header_height_s;  }
  @media #{$xs}{ height: $banner_height_xs; top: $header_height_xs; }
  z-index: 5;
  width: 100%;
  position: absolute;
  @include hoverBackgroundTransition;

  .searchMenuItem {
    height: 100%;
    .hidden {
      opacity: 0;
    }
    form, a {
      display: inline-block;
    }
    input {
      margin: 0px 0;
      font-size: $font90;
      padding: 5px;
      width: 280px;
      @media #{$l} { padding: 4px; width: 250px; }
      @media #{$m} { padding: 4px; width: 220px; }
      @media #{$s} { padding: 3px; width: 180px; }
      @media #{$xs}{ padding: 3px; width: 150px; }
    }
    .allRecipes {
      margin: 0 0 0 30px;
      @media #{$l} { margin: 0 0 0 25px; }
      @media #{$m} { margin: 0 0 0 20px; }
      @media #{$s} { margin: 0 0 0 12px; }
      @media #{$xs}{ display: none; }
    }
    .search_menu_item {
      box-sizing: Border-box;
      background-color: $shrikhand1;
      color: $champagne7;
      height: 50px;
      position: relative;
      top: -5px;
      margin: 0 0 0 5px;
      padding: 10px 5px;
      @media #{$l} { margin: 0 0 0 4px; padding: 9px 4px; }
      @media #{$m} { margin: 0 0 0 4px; padding: 9px 4px; }
      @media #{$s} { margin: 0 0 0 3px; padding: 9px 3px; }
      @media #{$xs}{ margin: 0 0 0 3px; padding: 9px 3px; }
    }
  }

  .logo {
    @include allTransition1000;
    position: relative;
    left: 10px;
    top: -5px;
    opacity: 0.0;
    padding: 10px 0;
    height: 87%;
  }
}

#banner.fixed {
  top: 0px;
  position: fixed;
  bottom: 0px;
  background: $champagne5;

  .logo {
    opacity: 1.0;
  }
}


#header {
  height: $header_height_xl;
  @media #{$l} { height: $header_height_l;  }
  @media #{$m} { height: $header_height_m;  }
  @media #{$s} { height: $header_height_s;  }
  @media #{$xs}{ height: $header_height_xs; }

  background-color: $white;

  .logo {
    padding: 10px 0 10px 50px;
    height: 80%;
  }
}

#menu, #mobile_menu, .menu {
  margin: 0 auto;
	display: block;
	height: 100%;
  font: 100%;

  .icon-reorder {
    outline: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align:	center;

    li {
      float: left;
      padding: 0 15px;
      @media #{$l} { padding: 0 13px; }
      @media #{$m} { padding: 0 11px; }
      @media #{$s} { padding: 0 10px; }
      @media #{$xs}{ padding: 0 8px; }
    }

    li:first-child {
      float: left;
      /*padding-left: 0;*/
    }

    li.right {
      float: right;
    }

    li > a {
      display: block;
      text-decoration: none;
      color: $champagne0;
      font: 110%;
      padding: 10px 0 0;
      height: 25px;
      @media #{$l} { padding: 9px 0 0; height: 22px; }
      @media #{$m} { padding: 8px 0 0; height: 20px; }
      @media #{$s} { padding: 7px 0 0; height: 18px; }
      @media #{$xs}{ padding: 6px 0 0; height: 15px; }
    }

    li > a:hover {
      color: $white;
    }

    li > a.selected {
      /*text-decoration: underline;*/
      border-bottom: 1px solid $white;
      color: $white;
    }
  }
}

#mobile_menu {
  display: none;
}

#footer {
  height: 45px;
  bottom: 0px;
  z-index: 5;
  width: 100%;
  background: $salmon5;
  position: absolute;
  overflow: hidden;

  .container {
    position: relative;

    ul {
      float: right;
      font-size: $font90;
    }

    .footerTitle {
      font: 150% SamarkanNormal, "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
      color: $shrikhand1;
      float: left;
      margin: -10px 0;
    }

    .footerCopyright {
      padding: 10px 20px 0;
      float: left;
      height: 30px;
      color: $white;
    }

    .menu {
      position: absolute;
      right: 10px;
      li {
      }
    }

    .logo {
      float: left;
      height: 40px;
    }
  }
}

section {
	display: block;
}

label {
	display: block;
	margin: 10px 0 4px;
  font-weight: normal;
}

label.inline {
	display: inline;
}

label > span {
  color: $shrikhand2;
  margin-left: 5px;
  font-size: $font70;
  font-style: italic;
}

input:not([type=submit]), textarea {
  color: $darkgrey;
  border: 1px solid #CCC;
  letter-spacing: $default_letter_spacing
}

textarea {
	height: 100px;
	width: 800px;
  padding: 15px;
  @media #{$l} { padding: 12px; width: 640px; height: 80px; }
  @media #{$m} { padding: 10px; width: 560px; height: 70px; }
  @media #{$s} { padding: 9px;  width: 480px; height: 60px; }
  @media #{$xs}{ padding: 7px;  width: 400px; height: 50px; }
}

textarea.medium {
  min-height: 200px;
  @media #{$l} { min-height: 160px; }
  @media #{$m} { min-height: 140px; }
  @media #{$s} { min-height: 120px; }
  @media #{$xs}{ min-height: 100px; }
}

textarea.large {
  min-height: 300px;
  @media #{$l} { min-height: 240px; }
  @media #{$m} { min-height: 210px; }
  @media #{$s} { min-height: 180px; }
  @media #{$xs}{ min-height: 150px; }
}

textarea.extraLarge {
  min-height: 500px;
  @media #{$l} { min-height: 400px; }
  @media #{$m} { min-height: 350px; }
  @media #{$s} { min-height: 300px; }
  @media #{$xs}{ min-height: 250px; }
}

input[type='text'], input[type='email'], input[type='tel'], input[type='password'] {
  padding: 15px;
  width: 500px;
  letter-spacing: $default_letter_spacing;
  @media #{$l} { padding: 12px; width: 400px; }
  @media #{$m} { padding: 10px; width: 350px; }
  @media #{$s} { padding: 9px; width: 300px; }
  @media #{$xs}{ padding: 7px; width: 250px; }
}

textarea:focus, input:focus {
  outline: none;
}

.formActions {
	padding: 17px 20px 18px 0px;
	margin: 18px 0;
  @media #{$l} { padding: 14px 16px 15px 0; margin: 15px 0; }
  @media #{$m} { padding: 12px 14px 13px 0; margin: 13px 0; }
  @media #{$s} { padding: 10px 12px 11px 0; margin: 12px 0; }
  @media #{$xs}{ padding: 9px  10px 10px 0; margin: 10px 0; }
}

.formButton {
  box-sizing: Border-box;
  margin: 0;
  text-align: center;
  color: $white;
  font-size: $font120 !important;
  text-decoration: none;
  cursor: pointer;

  padding: 6px 12px;
  line-height: 24px;
  min-height: 24px;
  @media #{$l} { padding: 5px 10px; line-height: 19px; min-height: 19px; }
  @media #{$m} { padding: 5px 9px;  line-height: 17px; min-height: 17px; }
  @media #{$s} { padding: 4px 7px;  line-height: 14px; min-height: 14px; }
  @media #{$xs}{ padding: 3px 6px;  line-height: 12px; min-height: 12px; }
}

.homeContent, .newsContent {
  @include opacityTransition1000;
  float: left;
  width: 500px;
  padding: 40px;
  font-size: $font150;
  margin: 200px 0 0 50px;

  h1 {
    display: inline-block;
    background-color: $champagne5_50;
    color: $white;
    padding: 2%;
  }
}

.homeContent {
  opacity: 0;
  position: absolute;
  margin: 10% 0 0 5%;
  max-height: 80%;
  width: 60%;
  @media #{$l} { padding: 32px; width: 60%; margin: 7% 0 0 5%; font-size: 97%; }
  @media #{$m} { padding: 28px; width: 64%; margin: 6% 0 0 5%; font-size: 93%; }
  @media #{$s} { padding: 24px; width: 67%; margin: 5% 0 0 5%; font-size: 90%; }
  @media #{$xs}{ padding: 20px; width: 70%; margin: 4% 0 0 5%; font-size: 90%; }
}

#home_content1 {
  opacity: 1;
}

#home_content2 {
  margin: 11% 0 0 10%;
  @media #{$l} { margin: 8% 0 0 10%; }
  @media #{$m} { margin: 7% 0 0 10%; }
  @media #{$s} { margin: 6% 0 0 10%; }
  @media #{$xs}{ margin: 5% 0 0 10%; }
}

#home_content3 {
  margin: 12% 0 0 5%;
  @media #{$l} { margin: 9% 0 0 5%; }
  @media #{$m} { margin: 8% 0 0 5%; }
  @media #{$s} { margin: 7% 0 0 5%; }
  @media #{$xs}{ margin: 6% 0 0 5%; }
}

#home_content4 {
  margin: 8% 0 0 15%;
  @media #{$l} { margin: 6% 0 0 15%; }
  @media #{$m} { margin: 5% 0 0 15%; }
  @media #{$s} { margin: 4% 0 0 15%; }
  @media #{$xs}{ margin: 3% 0 0 15%; }
}

.homeContent h1, .newsContent h1 {
}

.newsContent {
  margin: 6.67% 0 0 4.17%;
  width: 41.67%;
  font-size: $font120;
  padding: 1.67%;
  color: $white;
  background-color: $champagne5_80;

  input[type='text'], input[type='email'], input[type='tel'] {
    width: 90%;
  }

  .buttons {
    padding: 1.67% 0 0;
    @media #{$s} { font-size: 90%; }
    @media #{$xs} { font-size: 80%; }
  }

  .formButton {
    background-color: $champagne6;
    @media #{$s} { font-size: 90%; }
  }

  .formButton:hover {
    background-color: $champagne7;
  }

  .flash {
    color: $shrikhand2;
  }

  span.icon {
    margin-right: 1%;
  }

  h1 {
    display: block;
    background-color: transparent;
  }
}

.firstNewsContent {
  margin: 6.67% 4.17% 0 0;
}

@mixin carouselText {
  position: relative;
  left: 0px;
  /*color: $white;*/
  padding: 5px;
}

#carousel {
	/*Need to have relative position here as all the other carousel items inside this container will be relative to this?*/
	position: relative;
  /*The children of this container are all absolutely positioned and therefore cannot determine its height */
  /*so we need to explicitly size the height of the carousel */
  height: 800px;
  @media #{$l} { height: 720px; }
  @media #{$m} { height: 640px; }
  @media #{$s} { height: 560px; }
  @media #{$xs}{ height: 480px; }
  /*max-height: 80%;*/
  overflow: hidden;

  #carouselItems {
    @include boxSizing;
    position: relative;
    width: 81%;
    height: 100%;
    left: 10%;
    overflow: hidden;

    .carouselItem {
      @include boxSizing;
      display: none;
      position: absolute;
      height: 81%;
      max-height: 100%;
      width: 100%;
      margin: 3.125% 0 0 0;
      background: rgba(255, 255, 255, 0.8);

      .content {
        height: 100%;
        min-height: 100%;
        width: 100%;
      }

      a {
        text-decoration: none;
      }

      .recipeTitle {
        @include carouselText;
        font-size: $font200;
        margin: 3% 5%;
        color: $sheepu4;
        text-decoration: none;

        a {
          color: $sheepu4;
        }
      }

      .images {
        @include boxSizing;
        width: 90%;
        height: 80%;
        float: left;
        margin: 0 5% 0 5%;
        position: relative;

        .recipeImage {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 60.75%;
        }

        .recipeSecondaryImage {
          position: absolute;
          bottom: 3%;
          right: 0px;
          width: 46.87%;
          @media #{$s} { display: none; }
        }

        .recipeSynopsis {
          position: absolute;
          width: 37%;
          right: 0px;
          font-size: $font130;
        }

        .recipeLinks {
          position: absolute;
          left: 0px;
          bottom: 0px;
          margin: 5% 0;
        }

        .recipesMoreLink {
          display: inline-block;
          padding: 4px 6px;
          font-size: $font130;
          text-decoration: none;
          color: $champagne5;
          background-color: transparent;
          position: relative;
          float: right;
          margin: 0 0 0 25px;
          @include hoverBackgroundTransition;
          float: left;
        }
      }

      img {
        max-width: 100%;
      }
    }
  }

  .carouselButton {
    top: 40%;
    position: absolute;
    width: 55px;
    height: 55px;
    line-height: 63px;
    @media #{$l} { width: 44px; height: 44px; line-height: 51px; }
    @media #{$m} { width: 39px; height: 39px; line-height: 44px; }
    @media #{$s} { width: 33px; height: 33px; line-height: 38px; }
    @media #{$xs}{ width: 28px; height: 28px; line-height: 32px; }
    font-size: $font150;
    color: $white;
    background-color: $sheepu6_50;
    color: $white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    z-index: 4;
    @include hoverColorTransition;

    span {
      font-size: $font150;
    }
  }

  .recipeMoreLink:hover, .recipesMoreLink:hover, .carouselButton:hover {
    // background-color: $orange;
    color: $white;
    background-color: $sheepu6_80;
  }
}

.left {
	left: 10px;
}

.right {
	right: 10px;
}

.recipeSearch {
  padding: 3.33% 0 10% 0;
  margin: 0 auto;
  width: 50%;

  button {
    width: 6.67%;
    padding: 2.5% 0.833%;
    cursor: pointer;
    background-color: $sheepu6_50;
    color: $white;
    @include hoverColorTransition;
  }

  button:hover {
    color: $white;
    background-color: $sheepu6_80;
  }

  a {
    color: $white;
    text-decoration: none;
    padding: 15px 0 0;
    font-size: $font120;
  }

  .categoryFilter {
    margin: 2.5% 0 0 20%;
  }
}

#parallax .recipeSearch {
  padding: 20px 0;
  overflow: hidden;
}

.watermark {
  color: $watermark;
}

ul.recipeList {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align:	center;
}

.recipeList li {
  @include boxSizing;
  position: relative;
  width: 23.7%;
  height: 360px;
  @media #{$l} { height: 288px; }
  @media #{$m} { height: 252px; }
  @media #{$s} { height: 216px; }
  @media #{$xs}{ height: 180px; }
  margin: 0 1.67% 3% 0;
  padding: 0.45% 0.25%;
  border: 1px solid $extralightgrey;
  float: left;
	background-color: rgba(255, 255, 255, 0.75);
  overflow: hidden;

  a {
    text-decoration: none;
    color: $maroon;
  }

  img {
    width: 98%;
    height: 274.06px;
    @media #{$l} { height: 219.25px; }
    @media #{$m} { height: 191.84px; }
    @media #{$s} { height: 164.43px; }
    @media #{$xs}{ height: 137.03px; }
  }

  .title {
    margin: 8px 0 0;
    font-size: $font110;
    color: $maroon;
    text-align: center;

    a {
      width: 100%;
      text-align: center;
    }
  }

  .synopsis {
    @include allTransition500;
    margin: 8px 5px;
    font-size: $font90;
    color: #888;
    text-align:	left;
    opacity: 0;
    max-height: 0px;

    a {
      color: #888;
    }
  }

  .text {
    @include boxSizing;
    background-color: $white_80;
    position: absolute;
    bottom: 0px;
    min-width: 98.21%;
    min-height: 14.06%;
  }
}

.recipeList li:hover {
  .synopsis {
    height: auto;
    max-height: 300px;
    opacity: 1;
  }
}

.recipeList li.end_of_line {
  margin: 0 0 36px 0;
}

.recipeContainer, .blogPostContainer, .aboutContainer {
  @include boxSizing;
  background: $white_50;
  padding: 10px 20px;

  a {
    text-decoration: none;
    color: $link_colour;
  }

  #search_button, .formButton {
    color: $white;
    background-color: $champagne4;
  }

  #search_button:hover, .formButton:hover {
    background-color: $champagne5;
    @include hoverBackgroundTransition;
  }

  h2 {
    color: $sheepu4;

    a {
      text-decoration: none;
      color: $sheepu4;
    }
  }

  h3 {
    padding: 8px 10px;
    margin: 10px 0;
    background-color: $sheepu5_80;
    color: white;
  }
}

.aboutContainer {
  h3 {
    padding: 0;
    margin: 20px 0 10px;
    color: $sheepu5_80;
    background: transparent;
  }
}

.blogPostContainer {
  padding-left: 1.8% !important;
  padding-right: 1.5% !important;

  menu {
    background-color: transparent;
  }
}

#recipeImageContainer {
  width: 100%;
  position: relative;

  img {
    max-width: 100%;
  }
}

#recipeImageCopy {
  position: absolute;
  top: 0px;
  left: 0px;
}

.dotNav {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  // position: relative;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 10px auto;
    display: inline-block;
    height: 45px;

    li {
      // position: relative;
      margin: 0;
      float: left;
      padding: 3px 2px 2px 2px;

      a {
        width: 18px;
        height: 18px;
        border-radius: 9px;
        display: inline-block;
        box-sizing: border-box;
        border: 2px solid $champagne7;
        margin: 2px;
        @include allTransition300;
      }

      .emptyDot {
        background-color: $champagne5;
      }

      .filledDot {
        background-color: $shrikhand1;
      }

      .emptyDot:hover, .filledDot:hover {
        width: 22px;
        height: 22px;
        border-radius: 11px;
        margin: 0;
        border: 4px solid $champagne7;
        background-color: $shrikhand1;
      }
    }
  }

}

.pagination {
  text-align: right;
  float: right;
}

.markdownInplaceEditor textarea {
  display: none;
}

/* Parallax */

.parallaxDownButton {
  @include allTransition500;
  @include boxSizing;
  position: fixed;
  bottom: 0px;
  right: 20%;
  opacity: 1;
  @media #{$l} { right: 18%; padding: 0 4px;}
  @media #{$m} { right: 16%; padding: 0 4px;}
  @media #{$s} { right: 14%; padding: 0 3px;}
  @media #{$xs}{ right: 12%; padding: 0 3px;}

  background-color: $shrikhand1;
  color: $champagne7;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0 5px;

  a:visited {
    text-decoration: none;
  }

  .left, .right {
    height: $banner_height_xl;
    @media #{$l} { height: $banner_height_l;  }
    @media #{$m} { height: $banner_height_m;  }
    @media #{$s} { height: $banner_height_s;  }
    @media #{$xs}{ height: $banner_height_xs; }

    .label {
      line-height: $banner_height_xl;
      padding: 0 5px;
      @media #{$l} { line-height: $banner_height_l;  padding: 0 4px; }
      @media #{$m} { line-height: $banner_height_m;  padding: 0 4px; }
      @media #{$s} { line-height: $banner_height_s;  padding: 0 3px; }
      @media #{$xs}{ line-height: $banner_height_xs; padding: 0 3px; }
    }
  }

  .left {
    float: left;

    .label {
      display: none;
      text-align: middle;
      font-size: $font120;
      color: $champagne7;
    }
  }

  .right {
    float: right;

    a {
      text-decoration: none;
      color: $champagne7;
    }

    .icon {
      padding: 0;
      font-size: $font220;
      color: $champagne7;
    }
  }
}

.hidden {
  opacity: 0;
}

.parallaxDownButton:hover {
}

.parallaxDownButton:hover .label {
  display: inline-block;
}

.parallaxPanel {
  @include backgroundImageTransition1000;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: $white;
  min-height: 800px;
}

.parallaxPanel .container{
  padding: 50px 0 0;
}

.parallaxPanelLight {
  background-color: $white;
  color: #444;
}

.parallaxTitle {
	margin: 8px auto;
  @include carouselText;
  font-size: $font200;
  font-weight: normal;
}

.parallaxSubtitle {
	margin: 4px auto;
  @include carouselText;
  font-size: $font150;
  font-weight: normal;
}

span.parallaxTitleText {
  background-color: $champagne5_80;
  padding: 6px 10px;
  color: $white;
}


#recipesPanel {
  span.parallaxTitleText {
    background: $sheepu6_50;
  }
}

#contactPanel {
  margin: -5px 0 0 0;
  span.parallaxTitleText {
    background: none;
  }

  .clear {
    height: 50px;
  }
}

.parallaxAnchor {
  top: -100px;
  height: 1px;
  position: relative;
}

#contactPanel {
  background-color: $salmon4;
}

#social {
  border-left: 1px solid $salmon6;
  padding-left: 1.67%;
  float: right;
  width: 46.67%;
  margin-top: 70px;
  color: $white;
  height: 465px;
}

#social > a {
  height: 145px;
  padding: 10px 0 0 0;
  margin: 40px 0 10px 0;
  @include hoverBackgroundTransition;
  display: block;
  text-decoration: none;
}

#social > a#twitter {
  height: 200px;
}

#social > div.separator {
  height: 26px;
  border-bottom: 1px dashed $salmon6;
}

#social > a img {
  float: left;
  margin-top: 8%;
}

#social > a h2 {
  display: inline-block;
  width: 100%;
  margin: 0 0 0 1%;
  text-decoration: none;
}

#social > a ul {
  position: relative;
  color: $white;
  background-color: $salmon6;
  list-style: none;
  margin-left: 22%;
  margin-right: 3%;
  /*width: 70%;*/
  padding: 3%;
}

#social li {
  text-decoration: none;
}

/* override the Browser default styles for <a> embedded in Tweets within the contact panel */
#social > a > ul > a {
  text-decoration: none;
  color: $white;
}

#social #twitter > ul:before {
  position: absolute;
  top: 10px;
  left: -20px;
  border-color: transparent $salmon6 $salmon6 transparent;
  border-style: solid;
  border-width: 10px;
  width: 0px;
  height: 0px;
  content: " ";
  @media #{$l} { top: 8px; left: -16px; border-width: 8px; }
  @media #{$m} { top: 7px; left: -14px; border-width: 7px; }
  @media #{$s} { top: 6px; left: -12px; border-width: 6px; }
  @media #{$xs}{ top: 5px; left: -10px; border-width: 5px; }
}

#social #email:hover, #social #twitter:hover {
  background-color: $salmon5;
}

#social #email:hover .title, #social #twitter:hover .title {
  color: $shrikhand1;
}

#social > a img {
  float: left;
  margin-top: 21px;
  height: 100px;
  width: 100px;
  @media #{$l} { height: 80px; width: 80px; margin-top: 18px; }
  @media #{$m} { height: 70px; width: 70px; margin-top: 15px; }
  @media #{$s} { height: 60px; width: 60px; margin-top: 13px; }
  @media #{$xs}{ height: 50px; width: 50px; margin-top: 11px; }
}

#social #email ul {
  margin-top: 8.5%;
  padding: 1.5% 1%;
  font-size: $font110;
}

#contactPanel .title {
  color: $shrikhand2;
  font-size: $font130;
  font-weight: lighter;
  @include hoverColorTransition;
}

#newsletterSignUp {
  color: $shrikhand2;
  margin-top: 70px;
  float: left;
  padding: 0 1.67%;
  height: 400px;
  width: 46.67%;
}

#newsletterSignUp article {
  padding: 10px 0 0 0;
}

#newsletterSignUp label {
  font-weight: lighter;
  font-size: $font110;
}

#newsletterSignUp article:first-child {
  padding: 40px 0 0 0;
}

#newsletterSignUp form div.field {
  padding: 10px 0 0 0;
}

#subscriptionFormContainer {
  color: $white;
  font-size: $font100;
}

input[type='submit'], button[type='submit'], input[type='button'] {
  border: none;
  border-radius: none !important;
  letter-spacing: $default_letter_spacing;
}

.subscribeButton {
  font-size: $font110;
  margin: 0 20px 0 0;
  padding: 10px;
  background-color: $salmon6;
  color: $white;
  @include hoverBackgroundTransition;
  cursor: pointer;
}

.subscribeButton:hover {
  background-color: $salmon7;
}

.subscribeButton:active {
  background-color: $salmon8;
}

.ui-autocomplete {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 500px;
  max-height: 200px;
  border: 1px solid #CCC;
  background-color: $white;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.ui-autocomplete li {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.ui-autocomplete a {
  cursor: pointer;
  display: block;
  padding: 2px 5px;
}

.ui-autocomplete a.hover,
.ui-autocomplete a.ui-state-hover {
  background-color: $orange;
}

menu {
  padding: 0px;
}

.contentSidePanel {
  @include boxSizing;
  float: left;
  width: 23.3%;
  margin: 0 0 0 3.333%;

  .icon {
    color: $sheepu3;
  }

  .icon-tint {
    color: #800
  }
}

.sidePanelMenu {
  position: relative;
  background-color: $lightgrey;

  a {
    display: block;
    margin: 3px 0;
    padding: 1.82% 3.28%;
    text-decoration: none;
    color: #000;
  }

  a[href]:hover {
    background-color: $champagne4;
    color: white;

    .icon {
      color: white;
    }
  }

  .icon {
    margin: 0 1.82% 0 0;
  }

  .label {
    position: absolute;
    left: 14.6%;
  }

  h3 {
    padding: 2.91% 3.64%;
    margin: 3.64% 0;
    background-color: $sheepu5_80;
    color: $white;
  }

  .ratingPanel {
    padding: 0 0 3.64%;
  }
}

.linksMenu {
  color: transparent;

  a {
    @include allTransition300;
    display: inline-block;
    margin: 3px 0;
    padding: 5px 9px;
    text-decoration: none;
    color: $sheepu5;
  }

  a[href]:hover {
    background-color: $champagne5;
    color: white;

    .icon {
      color: white;
    }
  }

  .icon {
    @include allTransition300;
    margin: 0 5px 0 0;
    color: $sheepu5;
  }
}

#recipeAtAGlance {
  padding: 0 0 20px;
}

#recipeSimilar.sidePanelMenu a[href]:hover {
  background-color: $midlightgrey;
  color: #000;
}

.flash {
  display: none;
}

.blogPost {
  padding: 0 0 10px;
  border-bottom: #ddd 1px solid;
}

.blogContent, .aboutContainer {
  p {
    font-weight: 300;

    a {
      text-decoration: none;
      color: $link_colour;
    }

    a:hover {
      text-decoration: underline;
    }
  }
  img {
    width: 97%;
  }
}

.blogDate {
  margin: 10px 0 0 0;
  color: $grey;
  font-size: $font80;
}
.blogComments {
  margin: 30px 0 0;
}

#blogListContainer {
  .clear {
    margin: 20px 0 0;
  }
}

.helpText {
  font-size: $font80;
}

.rating {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align:	center;
}

.rating li {
  color: gold;
	float: left;
  padding: 0 5px;
}

.rating li {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

.rating li:before {
  content: "\f006";
}

.rating li:hover:before {
  content: "\f005";
}

body[data-section='blog_posts'] {
  background-image: url('/images/fabric.jpg');
  background-position: 0% 0%;
  background-repeat: repeat;
}

body[data-section='recipes'], body[data-section='about'] {
  background-image: url('/images/fabric.jpg');
  background-position: 0% 0%;
  background-repeat: repeat;
}

section.mainSection {
  .recipeListContainer {
    background: none;
  }
}

.contentFaq {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 0 0 1%;
      margin: 0 0 3%;
      border-bottom: 1px solid $lightgrey;

      span {
        float: left;
        width: 5%;
      }

      div {
        margin: 0 0 0 6%;
      }
    }
  }
}

/* Mobile specifics */

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  .parallaxDownButton {
    display: none;
  }
}


