@import "core.css.scss";

#banner {
  overflow: visible;
}

@media #{$xs} {
  .hideOnPhones {
    display: none;
  }

  .newsContent {
    float: none;
    width: auto;
    padding: 10px;
    font-size: $font120;
    margin: 30px 5px;
  }

  #newsletterSignUp, #social {
    border: none;
    padding-left: 1.67%;
    float: none;
    width: auto;
    margin-top: 10px;
    height: auto;
  }

  #newsletterSignUp article:first-child {
    padding: 10px 0 0 0;
  }

  #social {
    a {
      height: auto;
      margin: 10px 5px;
    }
  }

  #carousel {

    #carouselItems {
      width: 90%;
      left: 5%;

      .carouselItem {
        height: auto;
        max-height: 100%;
        width: 100%;

        .content {
          height: 100%;
          min-height: 100%;
          width: 100%;
        }

        a {
          text-decoration: none;
        }

        .recipeTitle {
          font-size: $font140;
        }

        .images {
          @include boxSizing;
          width: 90%;
          float: none;
          position: relative;

          .recipeImage {
            position: relative;
            width: 100%;
            max-width: 250px;
          }

          .recipeSynopsis {
            position: relative;
            width: auto;
            font-size: $font110;
          }

          .recipeLinks {
            position: relative;
            margin: 5% 0;
          }

          .recipesMoreLink {
            font-size: $font120;
            float: none;
            margin: 0 0 0 25px;
            float: none;
          }
        }

        img {
          max-width: 100%;
        }
      }
    }

    .left {
      left: 0px
    }

    .right {
      right: 0px
    }
  }
}

@media #{$s}, #{$xs} {
  body {
    .parallaxPanel {
      background-attachment: scroll;
    }
  }

  .container {
    @media #{$s} { width: 95%; }
    @media #{$xs} { width: 95%; }
    overflow: hidden;
  }

  #menu {
    display: none;
  }

  #header {
    height: 0px;
  }

  #banner {
    top: 0px;
  }

  .recipeSearch {
    width: 95%;

    input#search {
      width: 85%;
      font-size: 120%;
      padding: 10px;
    }

    div.categoryFilter {
      font-size: 120%;
    }

    .categoryFilter {
      margin: 2.5% 0 0 5%;
    }
  }

  .recipeList {
    li {
      float: none;
      width: auto;
      height: auto;

      img {
        height: auto;
      }

      .synopsis {
        opacity: 1;
        max-height: none;
        a {
          color: #222;
        }
      }
    }
  }

  .contentMain {
    width: auto;
    float: none;
  }

  .contentSidePanel {
    width: auto;
    float: none;
    margin: 0;

    .sidePanelMenu {
      background: none;

      h3 {
        padding: 8px 10px;
        margin: 10px 0;
      }
    }
  }

  #mobile_menu {
    display: block;

    ul {
      float: right;
    }

    a.icon {
      color: $white;
      font-size: 160%;
    }

    .logo {
      margin-top: -5px;
      float: left;
      height: 30px;
      opacity: 1.0;
    }

    #mobile_popup, #mobile_search {
      position: absolute;
      top: 50px;
      display: none;
      background: $champagne5_80;
      padding: 1% 0 2.5%;

      @media #{$s} { width: 750px; }
      @media #{$xs} { width: 600px; }

      ul {
        float: none;
        text-align:	left;

        li {
          float: none;
        }
      }
    }

    #mobile_search {
      padding: 2.5% 0 2.5%;

      div.search_combo {
        width: 90%;
        margin: 0 auto;
        color: $white;

        #mobile_search_text {
          width: 90%;
        }

        button {
          position: relative;
          left: 0px;
          background: transparent;
          color: $white;
        }
      }
    }
  }
}
